{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div id="demo" class="row carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active" >
      <img src="{% static 'image/light1.jpg' %}" height="800" width="100%" />
	  <div class="carousel-caption">
    <h3 class="text-center">Recycling</h3>
    <p ><span>We can solve your corporate IT disposition needs quickly and professionally.
Save Your community, Save Your planet</span></p>
<a  href="/about/"><button class=" btn btn-success">About Us</button></a>
  </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'image/eee.jpg' %}" height="800" width="100%" />
	  <div class="carousel-caption">
	  <h3>Save Your Planet</h3>
    <p><span>We can solve your corporate IT disposition needs quickly and professionally.
Save Your community, Save Your planet</span></p>
<a  href="/services/"><button class=" btn btn-success"> Services</button></a>
  </div>
  </div>
    
    <div class="carousel-item">
      <img src="{% static 'image/tree.jpg' %}" height="800" width="100%" />
	  <div class="carousel-caption">
	  <h3>Cicular Economy</h3>
    <p><span>We can solve your corporate IT disposition needs quickly and professionally.
Save Your community, Save Your planet</span></p>
<a  href="/contacts/"><button class=" btn btn-success">Contact Us</button></a>
  </div>
    </div>
 

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
</div>
 
 
 <div class="row text-center" id="welcome">
 <div class="col-md-10 offset-1">
 <i class="fa fa-recycle highlight"> </i>
 <h3>Welcome to Recycling</h3>
 <h5>Recycling is a method of procedure that includes the collection and breaking down of waste material to create something new out of it.</h5>
 
 <div class="row p-4 text-center " id="icons">
 <div class="col-md-4  ">
 <div class="col-md-12 p-4 border " id="font">
 <i class="fa fa-leaf icon "></i>
 <h3 class="p-2">Corporate Services</h3>
 <p>Guaranted that all of your universal waste management is performed safely and responsibly.</p>
 </div>
 </div>
 <div class="col-md-4 ">
 <div class="col-md-12 p-4 border"id="font">
 <i class="fa fa-inbox icon"></i>
 <h3 class="p-2">Convenient Pickup</h3>
 <p>We offer business pickup services recycle your electronics in a safe manner</p>
 </div>
 </div>
 <div class="col-md-4 ">
 <div class="col-md-12 p-4 border"id="font">
 <i class="fa fa-calendar icon"></i>
 <h3 class="p-2">E-waste Events</h3>
 <p>We work with non-profits,businesses and other organizations to host community e-waste events</p>
 </div>
 </div>
 </div>
</div>
</div>


 <div class="row text-center" id="form">
 <div class="col-md-12 ">
 <h1>Schedule pickup</h1>
 <p>for old equipment</p>
 <form action="/insertschedule/" method="post" enctype="multipart/form-data">
 {% csrf_token %}
 <div class="row p-5">
 <div class="form-group col-md-4">
 <div class="col-md-12 p-4">
 <label for="name">Enter Name</label>
 <input type="text" required class="form-control" id="name" name="name" placeholder="enter name" />
 </div>
 </div>
 
 <div class="form-group col-md-4">
 <div class="col-md-12 p-4">
<label for="phone">Enter phone</label>
<input type="tel"class="form-control" id="phone" name="phone" placeholder="enter phone" />
</div>
</div>

<div class="form-group col-md-4">
<div class="col-md-12 p-4">
<label for="time">time</label>
<input type="time" class="form-control" id="time" name="time" placeholder="enter time" />
</div>
</div>

<div class="form-group col-md-4">
<div class="col-md-12 p-4">
<label for="date">date</label>
<input type="date" class="form-control" id="date" name="date" placeholder="enter date" />
</div>
</div>

<div class="form-group col-md-4">
<div class="col-md-12 p-4">
<label for="pic">upload pic</label>
<input type="file" class="form-control" id="pic" name="pic" placeholder="enter name" />
</div>
</div>

<div class="form-group col-md-4">
<div class="col-md-12 p-4">
<label for="message">enter message</label>
<input type="text" class="form-control" id="message" name="message" placeholder="enter message" />
</div>
</div>

<div class="col-md-12">
<div class="col-md-12 p-5">
<button class=" btn btn-success">order pickup</button>
</div>
</div>

</div>
</form>
</div>
</div>

<div class="row text-center p-3" id="service">
 <div class="col-md-10 offset-1">
 <i class="fa fa-recycle highlight"> </i>
 <h1>Our Services</h1>
 <h6 class="p-3">What We Do</h6>

</div>


<div class=" text-center col-md-4" id="pic">
<img src="{% static 'image/hard drive.jpg' %}" height="300" width="100%" />
<div class="col-md-12 p-5 border use">
<h3>Hard Drive,Flash Drive & SSD Destruction</h3>
<p><span>Clients can simply schedule their hard drive destructionon online and through our website</span></p>
</div>
</div>

<div class=" text-center  col-md-4" id="pic">
<img src="{% static 'image/ewaste.jpg' %}" height="300" width="100%" />
<div class="col-md-12 p-5 border use">
<h3>Electronic Waste Collection & Recycling</h3>
<p>users quickly replace their electronic devices with newer,faster & stronger gadgets on the market</p>
</div>
</div>

<div class=" text-center  col-md-4" id="pic">
<img src="{% static 'image/computer.jpg' %}" height="300" width="100%" />
<div class="col-md-12 p-5 border use">
<h3>Electronics & Computer Resale</h3>
<p>Buyers are welcome to leave their best offer on available electronic products</p>
</div>
 </div>
 
 <div class="col-md-12 text-center p-4" >
 <a  href="/services/"><button class=" btn btn-info">Services</button></a>
 </div>
 
</div>

<div class="row p-4" id="back">
<div class="col-md-6 " >
<img src="{% static 'image/eee.jpg' %}" height="700" width="100%" />
</div>
<div  class="col-md-6 p-4" id="ff">
<i class="fa fa-recycle highlight"> </i>
<h3>OUR MISSION</h3>
<p>ABOUT US<p>
<p class="p-3">Our mission is to keep as much electronic waste from ending up in local landfills as we can.</p>

<div class="p-3" id="accordion">

  <div class="card" id="rec">
    <div class="card-header" id="data1">
      <a class="card-link" data-toggle="collapse" href="#collapseOne">
        REDUCING WASTE
      </a>
    </div>
    <div id="collapseOne" class="collapse show" data-parent="#accordion">
      <div class="card-body">
        The most effective way to reduce waste is to not create it in the first place. Making a new product
		requires a lot of materials and energy - raw materials must be extracted from the earth, and the product must be fabricated then transported
		to wherever it will be sold.
      </div>
    </div>
  </div>

  <div class="card" id="rec">
    <div class="card-header" id="data2">
      <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
        REDUCE PROGRAM
      </a>
    </div>
    <div id="collapseTwo" class="collapse" data-parent="#accordion">
      <div class="card-body">
        It is the order of priority of actions to
		be taken to reduce the amount of waste generated and to improve overall waste management processes and programs.
      </div>
    </div>
  </div>

  <div class="card" id="rec">
    <div class="card-header" id="data3">
      <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
        RECYCLE MORE
      </a>
    </div>
    <div id="collapseThree" class="collapse" data-parent="#accordion">
      <div class="card-body">
        Recycling can prevent the waste of potentially useful materials and reduce the consumption of fresh raw materials,
		thereby reducing: energy usage, air pollution (from incineration), and water pollution (from landfilling).
      </div>
    </div>
  </div>

</div>
</div>
</div>

<div class="row text-center" id="end">
<div class="col-md-12">
<i class="fa fa-recycle highlight"> </i>
<h1>TESTIMONIALS</h1>
<p>what client say</p>
<img src="{% static 'image/profile.PNG' %}" height="150" width="150"  />
<div class="col-md-8 offset-2" >
<h5 class="p-5">I felt really comfortable and trust them.They have a lot of security
 measure in place.Pretty cheap for such great peace of mind!</h5>
 </div>
 <div class="row text-center">
 <div class="col-md-12">
 <h3>Robert Wade</h3>
 </div>
 </div>
</div>
</div>

<div class="row p-4" id="bb">
<div class="col-md-4"  >
<div class="col-md-12">
<h5>&nbsp;&nbsp;&nbsp;<i class="fa fa-phone footericon"> </i> &nbsp;&nbsp;&nbsp; 01 23456789</h5>
<p>ST NO.18, AJIT ROAD, BATHINDA</p>
</div>
</div>
<div class="col-md-4" >
<div class="col-md-12">
<h5>&nbsp;&nbsp;&nbsp; <i class="fa fa-clock-o footericon"> </i>&nbsp;&nbsp;&nbsp; OPEN HOURS</h5>
<p>WEEKDAYS 8.00-18.00, SAT: CLOSED</p>
</div>
</div> 
<div class="col-md-4"  class="form-group" id="mail">
<form  action="/insertmail/" method="post">
 {% csrf_token %}
<label for="email">Enter email</label>
<input type="email" required class="form-control" id="email" name="email" placeholder="enter email" />
<div class="col-md-12 text-center p-4">
<button class=" btn btn-success">Send Message</button>
</div>
</form>
</div>
</div>

{% endblock %}